<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            Fonteko
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">

   
            <div style="height: 32px;
    width: 90%;
    margin-left: 2.5%;
    background: #d6a6dc;
    border-radius: 3px;">
                <div style="margin-top: 15px;
                        margin-left: 25px;
                        font-size: 18px;
                        color: black;
                        padding-top: 4px;">
                    <span><b>Administration</b></span>
                </div>
            </div>

            <li id="mnclient" class="nav-item ">
                <a class="nav-link" href="/feko-client">
                    <i class="material-icons">person</i>
                    <p>Clients</p>
                </a>
            </li>
            <li id="mnfontaine" class="nav-item ">
                <a class="nav-link" href="/feko-fontaine">
                    <i class="material-icons">person</i>
                    <p>Fontaines</p>
                </a>
            </li>
            <li id="mncommandes" class="nav-item ">
                <a class="nav-link" href="/feko-qrcode">
                    <i class="material-icons">shopping_cart</i>
                    <p>Ventes</p>
                </a>
            </li>
            
            <li id="mnnews" class="nav-item  ">
                <a class="nav-link" href="/feko-news">
                    <i class="material-icons">content_paste</i>
                    <p>Actualités</p>
                </a>
            </li>
            <li id="mnvideo"  class="nav-item ">
                <a class="nav-link" href="/feko-video">
                    <i class="material-icons">image</i>
                    <p>Videos</p>
                </a>
            </li>
            

            <li id="mnpush" class="nav-item ">
                <a class="nav-link" href="/feko-push">
                    <i class="material-icons">notifications</i>
                    <p>Notifications</p>
                </a>
            </li>
          


        </ul>
    </div>
</div>