        <!-- Sidebar  -->
        <nav id="sidebar">
        
        	<!-- nom du client -->
        	<div class="sidebar-header">
                <h3>Fonteko</h3>
            </div>

			<!-- /nom du client -->
			
            <ul class="list-unstyled components">
                <li id="accueil">
                    <a href="/feko-fontaine">
                        <i class="fas fa-home"></i>
                        &nbsp;Accueil
                    </a>
                </li>
				<hr>
                
                <li id="fontaine">
                    <a href="/feko-fontaine">
                        <i class="fas fa-image"></i>
                        &nbsp;Fontaines
                    </a>
                </li>
                
                <li id="lot">
                    <a href="/feko-lot">
                        <i class="fas fa-calendar-alt"></i>
                        &nbsp;Lots QrCode
                    </a>
                </li>
                <hr>
                <li id="client">
                    <a href="/feko-client">
                        <i class="fas fa-users"></i>
                        &nbsp;Clients
                    </a>
                </li>
                <li id="qrcode">
                    <a href="/feko-qrcode">
                        <i class="fas fa-image"></i>
                        &nbsp;Ventes
                    </a>
                </li>
                
                <hr>
                <li id="news">
                    <a href="/feko-news">
                        <i class="fas fa-users"></i>
                        &nbsp;Actualités
                    </a>
                </li>
                <li id="video">
                    <a href="/feko-video">
                        <i class="fas fa-image"></i>
                        &nbsp;Videos
                    </a>
                </li>
                <li id="push">
                    <a href="/feko-push">
                        <i class="fas fa-share"></i>
                        &nbsp;Push
                    </a>
                </li>
                
                <hr>
                
                
                
                <li>
                 <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        &nbsp;Deconnexion
                    </a>
                
                </li>

            </ul>




        </nav>